@page
@model final_project.Pages_Yarns.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Yarn</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Yarn.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Yarn.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Yarn.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Yarn.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Yarn.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Yarn.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Yarn.Yardage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Yarn.Yardage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Yarn.Fiber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Yarn.Fiber)
        </dd>
        <br />
        <hr />
        <br />
    
        @* 
        THIS CODE IS CAUSING AN ERROR IN MY FOR LOOP - LINE 82 - @foreach (var y in Model.Yarn.Reviews)
        
        <h4>Add Review</h4>

        <div class="row">
            <div class="col-sm-10">
                <form method="post">
                    <div class="form-group">
                        <label asp-for="Review.Rating" class="control-label"></label>
                        <input asp-for="Review.Rating" class="form-control" />
                        <span asp-validation-for="Review.Rating" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Review.Message" class="control-label"></label>
                        <input asp-for="Review.Message" class="form-control" />
                        <span asp-validation-for="Review.Message" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="hidden" asp-for="AddReview" />
                        <input type="submit" value="Submit"  class="btn btn-primary" />
                    </div>
                    <br />
                </form>
            </div> *@
        </div>
       <br />
       <hr />
       <br />
        
        <h4>Reviews</h4>
         <hr />

                @foreach (var y in Model.Yarn.Reviews)
                {
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => y.Rating)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => y.Rating)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => y.Message)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => y.Message)
                    </dd>
                    @* <dt class="col-sm-1">
                        <form method="post">
                            <input type="hidden" asp-for="ReviewIdToDelete" value="@y.ReviewId" />
                            <input type="submit" asp-asp-page-handler="DeleteReview" asp-route-id="@Model.Yarn.YarnId" value="Delete Review" />
                        </form>
                    </dt> *@
                    <hr />
                }
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Yarn?.YarnId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}