@page
@model final_project.Pages_Yarns.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Yarn[0].Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yarn[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yarn[0].Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yarn[0].Yardage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yarn[0].Fiber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Yarn) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yardage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fiber)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.YarnId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.YarnId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.YarnId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<hr />
@{
    var prevDisabled = "";
    if (Model.PageNum <= 1)
    {
        prevDisabled = "disabled";
    }


}
<nav aria-label="Page Navigation">
    <ul class="pagination">
        <li class="page-item @prevDisabled"><a class="page-link" asp-page="./Index" asp-route-PageNum="@Model.PageNum - 1">Previous</a></li>
        <li class="page-item"><a class="page-link" asp-page="./Index" asp-route-PageNum="@Model.PageNum + 1">Next</a></li>
    </ul>
</nav>
